button[type=submit]{
    padding:15px;
    color:#ffffff;
    font-weight: bold;
    background: #009578;
    width:100%;
    border:none;
    outline:none;
    border-radius:5px;
    cursor:pointer;
}

.login_form{
    max-width: 300px;
    margin: 0 auto;
    border-radius:5px;
    overflow:hidden;
    box-sizing: border-box;
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
}

.logo_container{
    padding: 30px;
    background: rgba(0,0,0,0.25);
}

.login_content{
    padding:30px;
    background:#eeeeee;
}

.login_header{
    margin-bottom: 30px;
    text-align: center;
    color: #333333;
    margin-top: 15px;
}

.login_button{
    margin:0 auto;
    margin-top: 40px;
}

td{
    text-align: center;
    width: 100px;
    height:40px;
}

input{
    width:100%;
    margin-bottom:10px;
    padding:10px;
    border-radius:5px;
    border: 2px solid #dddddd;
    background: #ffffff;
    outline: none;
    transition: border-color 0.5s;
}

input:focus{
    border-color: #009578;
}

input::placeholder{
    color: #aaaaaa;
}

body{
    margin-top: 70px;
    background-color:#009578;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}